body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  background: rgb(51, 54, 54);
}

#heading {
  color: rgb(60, 93, 201);
}
#subhead{
  color: blueviolet;
  font-weight: bold;
}

#videoSelectBtn{
  font-size: larger;
  color: rgb(201, 37, 37);
}

video {
  width: 100%;
  height: auto;
}

body {
  text-align: center;
  padding-top: 20px;
}